*.o
*.mo
*.py[co]

# Build directory
build/

# other revision control systems
CVS/
.svn/

# OSX specific junk
.DS_Store

# Windows specific junk
[Dd]esktop.ini
[Tt]humbs.db

# editor files
*.swp
*.orig
*~
\#*
.\#*

# Old files and backup stuff
*.old
*.bak
